@import '../../index.scss';

.form__button {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0rem 10rem;
    gap: 2rem;

    @media (max-width: $bp-largest) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width:$bp-medium) {
        padding: 0rem 3rem;
    }

    & button {
        font-family: inherit;
        width: 50%;
        font-size: 1.8rem;
        font-weight: 500;
        box-shadow: 0px 1px 5px $color-primary-dark;
        background-color: $color-primary;
        color: $color-black;

        @media (max-width:$bp-medium) {
            width: 70%;
        }
        
        @media (max-width:$bp-small) {
            width: 100%;
        }

        &:hover {
            background-color: $color-primary;
            box-shadow: 0px 1px 5px $color-primary-dark;
        }
    }

    &--google {
        background-color: $color-black !important;
        color: $color-white !important;
        box-shadow: 0px 3px 5px $color-black !important;
        align-items: center;
        gap: 8px;

        & svg {
            fill: $color-primary-dark;
        }
    }
}