@import '../../index.scss';

.profile-body {
    &--img {

        & img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}