@import '../../index.scss';

.form {
    padding: 5rem 15rem;
    width: 100%;
    height: auto;

    @media (max-width:$bp-large) {
        padding: 5rem;
    }
    
    @media (max-width:$bp-medium) {
        padding: 5rem 1rem;
    }
    
    &__container {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(3px);
        border-radius: 1rem;
    }

    &__content {
        padding: 0rem 3rem 3rem 0rem;

        @media (max-width:$bp-medium) {
            padding: 3rem;
        }

        & .logo__container {
            width: 100%;
            display: flex;
            justify-content: center;

            @media (max-width:$bp-small) {
                margin-bottom: 3rem;
            }

            & img {
                width: 200px;
                height: 100px;
                object-fit: cover;
                margin-top: 2rem;
            }
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 10rem;

        @media (max-width:$bp-medium) {
            padding: 0rem 3rem;
        }
        
        @media (max-width:$bp-small) {
            padding: 0rem;
        }
    }
}