@import '../../App.scss';

.form {
    padding: 5rem 15rem;
    width: 100%;
    height: auto;
    
    &__container {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(3px);
        border-radius: 1rem;
    }

    &__content {
        padding: 0rem 3rem 3rem 0rem;

        & .logo__container {
            width: 100%;
            display: flex;
            justify-content: center;

            & img {
                width: 20%;
            }
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 10rem;
    }
}