@import '../../index.scss';

.intro {
    height: 100vh;

    &__container {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        @media (max-width: $bp-small) {
            top: 55%;
        }
    }

    & img {
        width: 50%;
        height: 10rem;
        object-fit: cover;

        @media (max-width: $bp-small) {
            width: 70%;
        }
    }

    &__text {
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font-secondary;
        margin-top: 2rem;
        
        & h2 {
            font-size: 4rem;
        }

        & h3 {
            font-size: 2rem;
            margin-top: 2rem;
        }
    }

    &__foot {
        margin-top: 5rem;

        & button {
            background-color: $color-primary;
            width: 40%;
            font-size: 1.8rem;
            font-weight: bold;
            font-family: $font-secondary;

            &:hover {
                background-color: $color-shadow;
            }
        }
    }
}