@import '../../index.scss';

.loading {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-40%, -50%);

    @media (max-width:$bp-medium) {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .styles_typicalWrapper__1_Uvh::after {
        content: '';
    }

    & h1 {
        font-size: 10rem;
        text-shadow: 5px 3px 3px $color-shadow;
        font-weight: 600;
        color: $color-primary-dark;

        @media (max-width:$bp-medium) {
            font-size: 7rem;
        }
        
        @media (max-width:$bp-small) {
            font-size: 5rem;
        }
    }
}