@import '../../index.scss';

.modal {

    &__btn {
        margin-top: 3rem;
        gap: 3rem;
        display: flex;
        justify-content: center;
        
        & button {
            background-color: $color-primary;
            font-size: 1.2rem;
            width: 40%;
            font-weight: bold;
            font-family: $font-secondary;
            
            
            &:hover {
                background-color: $color-shadow;
            }
        }

    }

    & input,
    &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-primary-light;
        box-shadow: 0px 0px 0px $color-primary-light;
        background-color: $color-black-light;
        border-radius: 5px;
        padding: 1rem;
        display: block;
        font-weight: 500;
        font-size: 1.5rem;
        font-family: inherit;
        color: $color-white;
        
        &:focus {
            outline: none;
        }
    
        &::-webkit-input-placeholder {
            font-weight: 500;
            font-size: 1.5rem;
            font-family: inherit;
            color: $color-white;
        }
    }
    
    &__img {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        & img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }
    }
    &__input {
        cursor: pointer;
    }
}