// COLOR VARIABLES
$color-primary: #6052ff; //dark shade
$color-primary-dark: #6052fb; //btn color
$color-primary-light: #6656ff; //light shade

$color-bg: #040210;

$color-black: #000000;
$color-black-light: #00000075;

$color-shadow: #07041f;

$color-white: #ffffff;

// FONTS
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Times New Roman', Times, serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 56.25em;    // 900px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 25em;   //400px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;

  @media (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-white;
  font-weight: 300;
  line-height: 1.5;
}

.bg {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-shadow, 0.8),
    rgba($color-bg, 0.8)),
    url(./assets/bg-2.jpeg)
  ;
  background-size: cover;
  position: relative;
}